html {
    background: #FFF3FD;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #FDD1F7;
    background: #FFF8FE;

}

.horizontal-nav {
    list-style-type: none;
    padding: 0;
}

.horizontal-nav li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {

}

h3 {

}

p {
    line-height: 1.4em;
}

img {
    float: left;
    margin-right: 10px;
}

img {
    width: 50%;
    height: 50%;
}


#blog {
    border-top: 5px dotted #FDD1F7;
}

.blog-post {
    border-bottom: 5px dotted #FDD1F7;
    margin-bottom: 20px;
    margin-top: 20px;
}

img {
    float: center;
}

.vertical-list {
    list-style-type: none;
    padding: 0;
}

.vertical-list li {
    display: block;
    margin-bottom: 10px;
}