html {
    background: #FFF3FD;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #EF6262;
    background: #FFF8FE;

}

.horizontal-nav {
    list-style-type: none;
    position: sticky;
    top: 0;
}

.horizontal-nav li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: #CD2D2D;
}

h2 {
    font-size: 2em;
    margin: 0;
    color: #CD2D2D;
}

h3 {
    font-size: 1.2em;
    margin: 0;
    color: #EF6262;
}

h4 {
    font-size: 1em;
    margin: 0;
    color: #CD2D2D;
}

p {
    line-height: 1.4em;
}

img {
    float: left;
    margin-right: 10px;
}

img {
    width: 25%;
    height: 25%;
}


#blog {
    border-top: 5px dotted #FF0000;
}

img {
    float: center;
}

.vertical-list {
    list-style-type: none;
    padding: 0;
}

.vertical-list li {
    display: flex;
}

/* Apply some basic table styles */
.table-data {
    border-collapse: collapse;
    width: 100%;
}

.table-data th {
    text-align: center;
    padding: 10px;
}

.table-data th, .table-data td {
    border: 1px solid #CD2D2D;
    padding: 10px;
    text-align: center;
}

.table-data th {
    background-color: #EF6262;
}

/* Style alternating rows for better readability */
.table-data tbody tr:nth-child(even) {
    background-color: #FFF8FE;
}

/* Add some spacing between table cells */
.table-data td {
    padding: 10px;
}

/* Center text in the Gender and Uses per day columns */
.table-data td:first-child,
.table-data td:nth-child(2) {
    text-align: center;
}